<!DOCTYPE html>
<html>
    <head>
        <title>
            Web Challenge
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    <body>
        <h3 align="center" class="titled">Student Portal</h3>
     <br />
     <center>
         <p class="msg_alert">{{ alert }}</p>
        <button type="button" class="button" onclick="window.location.href='register';">Register a student</button>
        <button type="button" class="button" onclick="window.location.href='search';">Find a student</button>
        <button type="button" class="button" onclick="window.location.href='display';">Display all students</button>
         </center>
    </body>
</html>